<div class="panel" >

<h2>About Me</h2>
</br> 
<p> My name is Kevin Nall and I am currently a student at Tech Talent South in their Intensive Coding Course for Ruby on Rails. over the eight week course, I have learned the following languages and concepts. <p>

<li>Ruby on Rails</li>
<li>HTML</li>
<li>CSS</li>
<li>Javascript</li>
<li>AJAX</li>
<li>Understanding API's</li>
<li>Domain Modeling</li>
<li>HTTP and RESTful Design</li>







