<div class="panel2" >

	<h2>Contact Me</h2>
	<br>
	<p>Please email me at kmnall@icloud.com with any questions.</p>
	<br>
	<p>Find me on Linkedin</p>
	<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
	<script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/kevin-nall/8a/5a9/61a" data-format="hover"></script>

</div>

