<h1>New blog</h1>

<%= form_for @blog, :url => blogs_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>

<br>

<%= render 'form' %>

<%= link_to 'Back', blogs_path %>
